.calc-container {
  width: 400px; 
}

.calc-container button {
  min-width: 25px;
  height: 2em;  
  margin: 2px; 
  text-align: center; 
  vertical-align: middle; 
}
.calc-right {
  background-color: rgba(245, 127, 115, 1); 
  color:  #F5F5F5; 
}

.calc-main {
  background-color: rgba(241, 241, 242, 1); 
}

#calc-input {
  width: 27%; 
  height: 3em; 
  background-color:#484848;
  color:  #F5F5F5; 
}